*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-decoration: none;    
}

 body{
   overflow: hidden;
}

.animation{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    white-space: nowrap;
    background-color: black;
    color: white;
    overflow: hidden;
    justify-content: center;
    z-index: 100;
    width: 100%;
}

.animate{
    font-size: 5rem;
    text-transform: uppercase;
    color: #e0e0e0;
    animation: animate 10s linear infinite;
}

.animate span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5rem #39ff14;
    margin-left: 1rem;
    margin-right: 1rem;
}

.hero{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url("./images/image26.jpg"); */
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}

.start_btn , .info_box, .quiz_box , .result_box, .input_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2),
                0px 6px 20px 0 rgba(0,0,0,0.19)  ;
    transition: all 0.3s ease;
    z-index: 1;
}

.info_box.active , .quiz_box.active, .result_box.active, .input_box.active{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50% , -50%) scale(1);
}


.start_btn button{
    font-size: 1.5rem;
    font-weight: 500;
    color: #007bff;
    padding: .7rem 1.4rem;
    border: none;
    border-radius: .4rem;
    background: #fff;
    cursor: pointer;
}

.input_box{
    width: 70vw;
    height: 60vh;
    background: #fff;
    border-radius: .4rem;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50% , -50%) scale(0.9); 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.input_box .input_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

/* .input_box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.input_title h1{
    font-size: 1rem;
    font-weight: 700;
    margin-top: .5rem;
}

.input_box input{
    margin-top: 2rem;
    border: none;
    outline: none;
    border-bottom: 4px solid #007bff;
    width: 12rem;
    padding: .5rem;
    font-size: 1.5rem;
    color: #007bff;
    text-align: center;
    letter-spacing: .1rem;
    font-weight: 600;
}

.enter{
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin-top: 2rem;
    padding: .7rem 1.4rem;
    border: none;
    border-radius: .4rem;
    background: #007bff;
    cursor: pointer; 
}

.info_box{
    width: 90vw;
    height: 100vh;
    background: #fff;
    border-radius: .4rem;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50% , -50%) scale(0.9);
}

.info_box .info_title{
    height: 4.5rem;
    width: 100%;
    border-bottom:  1px solid lightgray;
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.info_box .info_list{
    padding: 1rem 1.5rem;
}

.info_list .info{
    margin: .5rem 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.info span{
    font-weight: 600;
    color: #007bff;
}

.info_box .buttons{
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1.3rem;
    border-top: 1px solid lightgray;
}

.info_box .buttons button{
    margin:  0 .3rem;
    height: 2.5rem;
    width: 6rem;
    outline: none;
    border: 1px solid transparent;
    border-radius: .3rem;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition:  all 0.3s ease;
}

.buttons button.quit{
    color: #007bff;
    border: 1px solid #007bff;
}

.buttons button.quit:hover{
    color: #fff;
    background: #007bff;
}

.buttons button.restart{
    color: #fff;
    background: #007bff;
}

.buttons button.restart:hover{
    background: #0263ca;
}

.quiz_box{
    /* display: none; */
    width: 90vw;
    height: 90vh;
    background: #fff;
    border-radius: .3rem;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50% , -50%) scale(0.9);
}

.quiz_box header{
    position: relative;
    z-index: 99;
    height: 6rem;
    padding:  0 3rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: .3rem .3rem 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 1.8rem;
    font-weight: 600;
}

/* .quiz_box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8rem;
    height: 3rem;
    background: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: .5rem;
    padding: 0 .4rem;
} */

.quiz_box header .timer .timer_text{
    font-weight: 500;
    font-size: 1rem;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 1.3rem;
    font-weight: 600;
    background: #000;
    color: #fff;
    height:3.5rem;
    width: 3.5rem;
    text-align: center;
    border-radius: 50%;
    line-height: 3.5rem;
    border: 1px solid #343a40;
    position: relative;
    transform: scale(0.8);
}

.timer_sec::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #000;
    border-radius: 50%;
    animation: text_reveal 1s infinite ease ;
    opacity: 0;
}

.quiz_box section{
    padding: 2rem 2.5rem 1.5rem 2.5rem;
    background: #fff;
}

.quiz_box section .que_text{
    font-size: 1.5rem;
    font-weight: 500;
}

.quiz_box section .option_list{
    padding: .8rem 0;
    display: block;
}

 section .option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: .5rem;
    padding: .5rem .6rem;
    margin-bottom: .8rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border-color: #b8daff;
}

.option_list .option:last-child{
    margin-bottom: 0rem;
}

.option_list .option .icon{
    height: 2rem;
    width: 2rem;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
    line-height: 1.8rem;
    pointer-events: none;
}

.option_list .option .icon.tick{
    border-color: #23903c;
    color: #23903c;
    background: #d4edda;
}
.option_list .option .icon.cross{
    border-color: #a42834;
    color: #a42834;
    background: #f8d7da;
}

.option_list .option.correct{
    border-color: #c3e6cb;
    color: #155724;
    background: #d4edda;
}
.option_list .option.wrong{
    border-color: #f5c6cb;
    color: #721c24;
    background: #f8d7da;
}

.option_list .option.disabled{
    pointer-events: none;
}

.quiz_box footer{
    height: 3rem;
    width: 95%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box footer .total_que span{
    display: flex;
    user-select: none;
    margin: 0 1.8rem;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 .3rem;
}

 .total_que span p:first-child{
    padding-left: 0;
}

footer .next_btn{
    display: none;
    height: 2rem;
    padding: 0 .6rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    outline: none;
    color: #fff;
    background: #007bff;
    border-radius: .3rem;
    border: 1px solid #007bff;
    cursor: pointer;
    transition: all .3s ease;
}

footer .next_btn:hover{
    background: #0263ca;
}

.result_box{
    background: #fff;
    width: 90vw;
    padding: .8rem 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50% , -50%) scale(0.9);
}

.result_box .icon{
    font-size: 7rem;
    color: #007bff;
    margin-top: .5rem;
}

.result_box .complete_text{
    font-size: 1.2rem;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: .5rem 0;
    font-size: 1rem;
    font-weight: 500;
}

.score_text span p{
    font-weight: 500;
    padding: 0 .2rem;
}

.result_box .buttons{
    display: flex;
    margin: 2rem 0;
}

.result_box .buttons button{
    margin: 0 .5rem;
    height: 2rem;
    padding: 0 1rem;
    border: 1px solid #007bff;
    border-radius: .3rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease;
}

.buttons button.quit{
    color: #007bff;
    border: 1px solid #007bff;
}

.buttons button.quit:hover{
    color: #fff;
    background: #007bff;
}

.buttons button.restart{
    color: #fff;
    background: #007bff;
}

.buttons button.restart:hover{
    background: #0263ca;
}

@keyframes animate{
    0%{
        transform: translate(-100%);
    }

    100%{
        transform: translate(100%);
    }
}

@keyframes text_reveal{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.7);
    }
}







/* @media screen and (min-width:638px) {
    .info_box{
        height: 80vh;
    }
    .info_title{
        font-size: 3.5rem;
    }
} */
@media screen and (min-width:768px) {
    .info_box{
        height: 80vh;
    }
    .info_title{
        font-size: 3.5rem;
    }
    .quiz_box{
        height: 80vh;
    }
}


 @media screen and (min-width:1024px) {
    .info_box{
        height: 70vh;
    }

    .info_title{
        font-size: 3.5rem;
    }

    .quiz_box{
        height: 87vh;
    }
    .result_box{
        width: 70vw;
    }
}

